nav {
    text-align: center;
}

nav ol {
    list-style-position: inside;
    padding-left: 0;
}

nav ol li {
    margin-bottom: 10px;
}

.movie-page {
    display: inline-block;
    text-align: center;
    width: 250px;
}

img { 
    width: 70%;
    height: auto;
}
